@model DesignDirect.Models.ContractorViewModels.ContractorProfile

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Contractor</h4>
    <hr />
    <dl class="dl-horizontal">
         <dt>
            @Html.DisplayNameFor(model => model.Contractor.User.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contractor.User.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contractor.User.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contractor.User.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contractor.User.ZipCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contractor.User.ZipCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contractor.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contractor.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contractor.State)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contractor.State)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contractor.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contractor.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contractor.Website)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contractor.Website)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Services)
        </dt>
        <dd>
            @foreach (var item in @Model.Services) {
                <p>@Html.DisplayFor(model => item.Name)</p>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Contractor.ContractorId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
