@model DesignDirect.Models.ContractorViewModels.ContractorProfile

@{
    ViewData["Title"] = "Details";
}

<h2>@Html.DisplayFor(model => model.Contractor.User.FirstName) @Html.DisplayFor(model => model.Contractor.User.LastName)</h2>

<div>
    <h4>Contractor Profile</h4>
    <hr />
    <a class="showing purpleText" asp-action="Index"><i class="material-icons purple">keyboard_arrow_left</i>Back to Contractors</a>
    <br>
    <br>
    <br>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Contractor.CompanyName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contractor.CompanyName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contractor.Description)
        </dt>
        <dd>
            "@Html.DisplayFor(model => model.Contractor.Description)"
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contractor.Website)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contractor.Website)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contractor.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contractor.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contractor.State)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contractor.State)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contractor.User.ZipCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contractor.User.ZipCode)
        </dd>
        <dt>
            Contact
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contractor.User.FirstName) @Html.DisplayFor(model => model.Contractor.User.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contractor.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contractor.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Services)
        </dt>
        <dd>
            @foreach (var item in @Model.Services) {
                <p>@Html.DisplayFor(model => item.Name)</p>
            }
        </dd>
    </dl>
</div>
<div>
</div>
