@model DesignDirect.Models.IdeaboardViewModels.ViewIdeaboardsViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row">
    <div class="col-md-9">
        <div class="row">
            @foreach (var item in @Model.Ideaboards)
            {
                <div class="col-md-4">
                    @Html.DisplayFor(modelItem => item.Title) <br>
                    <a asp-action="Details" asp-route-id="@item.IdeaboardId">Details</a>
                </div>
            }
        </div>
    </div>
    <div class="col-md-3">
        @foreach (var item in @Model.MatchingContractors)
        {
            <div class="col-md-1">
                <h4>@Html.DisplayFor(modelItem => item.User.FirstName) @Html.DisplayFor(modelItem => item.User.LastName)</h4>
                    <h5>@Html.DisplayFor(modelItem => item.City), @Html.DisplayFor(modelItem => item.State)</h5>
                    <h5>@Html.DisplayFor(modelItem => item.User.ZipCode)</h5>
                    <h5>@Html.DisplayFor(modelItem => item.Website)</h5>
                    <h5>@Html.DisplayFor(modelItem => item.PhoneNumber)</h5>
                    <h4>Services</h4>
                    @foreach (var thing in item.Services)
                    {
                        <div>@Html.DisplayFor(modelItem => thing.Service.Name)</div>
                    }
            </div>

        }
    </div>

</div>


